server {
    listen 0.0.0.0:80;
    server_name localhost;
    access_log /var/log/nginx/app.log;
    root /var/www/build;
    index index.html index.htm;
    
    location /api {
        # to be substituted
        proxy_pass $PASS_MAN_BACKEND_URL;
    }

    location / {
        try_files $uri $uri/ /index.html;
    }
}